<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.simplec.plugins.homeintent"
	version="1.0.2">

	<name>Android Home Intent</name>
	
	<description>
		This plugin adds home intents to android manifest so that your app can act as a launcher.
	</description>
	
	<license>Apache 2.0</license>
		
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>
	
	  <!-- android -->
	  <platform name="android">
	     <config-file target="AndroidManifest.xml" parent="/*/application/activity/intent-filter"> 
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.HOME"/>
	            <category android:name="android.intent.category.DEFAULT" />
	     </config-file> 
        
	  </platform>
</plugin>
